.apple-map-container {
    width: 100%;
    height: 463px;
    position: relative;
}
#map {
    width: 100%;
    height: 463px;
}
a:link, a:visited {
    color: #2997FF;
    outline: none;
    text-decoration: none;
}
.landmark {
    width: 308px;
    padding: 26px;
    background: #fff;
    border-radius: 7px;
}
.landmark h1 {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: .012em;
    color: #1d1d1f;
}
.landmark section {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    color: #86868b;
}
.landmark section p {
    margin: 5px 0;
}
.landmark:after {
    z-index: 100;
    content: "";
    position: absolute;
    bottom: -12px;
    left: calc(50% - 12px);
    border-top: 12px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
@-webkit-keyframes scale-and-fadein {
    0% {
        -webkit-transform: scale(0.2);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-and-fadein {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
